*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.89);
}
header{
    text-align: center;
}
header>h1{
    color: rgb(81, 138, 211);
    margin: 50px;
}
main{
    position: relative;
    background-color: blueviolet; 
    border-radius: 20px;
    height: 400px;
    width: 400px;
    text-align: center;
   top: 50%;
   left: 50%;
   translate: -50% -80%;
}
section{
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
button{
    padding: 10px;
    border-radius: 5px;
}
#screen1{
    display: none;
}
.balanca{
    width: 380px;
    height: 200px;
}
input{
    padding: 10px;
    border-radius: 10px;
}
#screen2{
    display: block;
}
#screen2>p{
    color: white;
    padding: 10px;
}
.lista{
    width: 350px;
    height: 200px;
}
